# Environment variables
.env
.env.local
.env.production
**/.env
**/.env.local

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
.next/
out/
.turbo/
**/.turbo/
*.tsbuildinfo
**/*.tsbuildinfo

# pnpm
.pnpm-store/

# Firebase admin SDK (нууц мэдээлэл)
*firebase-adminsdk*.json
firebase.js

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Temp
tmp/
uploads/
